@import "~bootstrap/dist/css/bootstrap.css";
@import "~react-select/dist/react-select.css";

nav {
  background-color: #283e4a;
}
#sign_up_form {
  width: 600px;
  background-color: #EDF0F3;

  #sign_up_btn {
    width: 100%;
  }
}

#sign_in_form_body {
  width: 600px;
  background-color: #EDF0F3;

  button {
    width: 100%;
  }
}

.spinner {
  color: #007bff;
}

#confirm_email_form {
  border: 2px solid #f2f2f2;
  span {
    color: #007bff;
  }

  button {
    width: 80%;
  }
}

.has-danger {
  border: 1px solid red;
}

.has-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
  border: 1px solid red;
}

.breadcrumb {
  background: none;
}

.wrapper {
  .navbar {
    background-color: #FFF;
  }
}

#search-form {
  input {
    width: 350px;
  }
}

.width120 {
  width: 120px;
}

.table-header {
  border-top: 1px solid hsla(280,9%,87%,.4);
  background-color: #FFF;
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 21px 0px rgba(219,218,222,1);
  -moz-box-shadow: 0px 2px 21px 0px rgba(219,218,222,1);
  box-shadow: 0px 2px 21px 0px rgba(219,218,222,1);

}

section.table-body {
  ul li {
    background-color: #FFF;
    margin-bottom: 12px;
  }

  ul li:hover {
    -webkit-box-shadow: 0px 2px 21px 0px rgba(219,218,222,1);
    -moz-box-shadow: 0px 2px 21px 0px rgba(219,218,222,1);
    box-shadow: 0px 2px 21px 0px rgba(219,218,222,1);
    cursor: pointer;
  }
}

footer nav {
  background-color: #F8F6F9;
}
