@import "~bootstrap/dist/css/bootstrap.css";
@import "~react-select/dist/react-select.css";

nav {
  background-color: #283e4a;
}
#sign_up_form {
  width: 600px;
  background-color: #EDF0F3;

  #sign_up_btn {
    width: 100%;
  }
}

#sign_in_form_body {
  width: 600px;
  background-color: #EDF0F3;

  button {
    width: 100%;
  }
}

.spinner {
  color: #007bff;
}

#confirm_email_form {
  border: 2px solid #f2f2f2;
  span {
    color: #007bff;
  }

  button {
    width: 80%;
  }
}

.has-danger {
  border: 1px solid red;
}

.has-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
  border: 1px solid red;
}

.breadcrumb {
  background: none;
}

.wrapper {
  .navbar {
    background-color: #FFF;
  }
}

#search-form {
  input {
    width: 350px;
  }
}

.width120 {
  width: 120px;
}